<div class="container col-6 mx-auto">

<h1><%= @projects.name %></h1>
</div>
<div class="dashboard">
        <div class="dashboard-card main">
          <div class="dashboard-card-content">
            <img src="images/seb.jpeg" alt="" width="150" class="img-circle">
            <h2>Sebastien Saunier</h2>
            <p>CTO at Le Wagon</p>
            <a href="#" class="btn btn-primary btn-lg">Get in touch</a>
          </div>
        </div>
