
 <%# <div class="sidenav">

    <div class="container">
      <div class="list">
        <a href="#"><i class="fa-solid fa-gauge"> </i> Dashboard</a>
      </div>
    </div> %>
    <%#= if current_user.admin do %>
     <%# <div class="container">
      <div class="list">
        <a href="#">Project</a>
      </div>
    </div> %>
    <%# end %>
     <%# <div class="container">
      <div class="list">

        <a href="#"> Tasks</a>
      </div>
    </div>

    <div class="container">
      <div class="list">

        <a href="#"> <i class="fa-solid fa-screen-users"></i> Equipe</a>
      </div>
    </div>

</div> %>
<div class="sidebar-container">
  <div class="sidebar-logo">
    <p>R-soluce</p>
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Home</li>
    <li>
      <a href="#">
        <i class="fa fa-home" aria-hidden="true"></i> Homepage
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa-solid fa-file-image"></i>  Project</a>
    </li>
    <li class="header">auther action</li>
    <li>
      <a href="#"><i class="fa-solid fa-list-check"></i> Task</a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-users" aria-hidden="true"></i></i>teams</a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Information</a>
    </li>
  </ul>
</div>
