<div class="container">

  <h2 class= text-center >Éditer un projet</h2>

  <%= render "shared/form-project", project: @project%>
  <%= link_to "Retour à l'accueil", '/', class: 'btn btn-primary' %>

</div>
