<div class= "container">

			<h2 class="text-center">Créer un nouveau projet<h2>

        <%= render "shared/form-project", project: @project %>

			<%= link_to "Retour à l'accueil", '/', class: 'btn btn-outline-dark' %>

</div>
