<div class= "container">
	<div class= "col-6 offset-5">
		<div class= "box-shadow">
			<h2>Créer un nouveau projet<h2>

        <%= render "form", project: @project %>

			<%= link_to "Retour à l'accueil", '/', class: 'btn btn-outline-primary' %>
		</div>
	</div>
</div>
