.btn-show{
  background-color: #130b38 ;
  padding: 15px;
  color: white;
}
.btn-show a{
  color: white;
}

.btn-show a:hover{
  color: #130b38;
}
.btn-show:hover{
  background-color: white;
  border: 1px solid #130b38 ;
}
