.face{

}
.face h3{
  font-size: 14px;
  font-family: 'roboto', sans-serif;
  color: black;
  border-bottom: 6px black solid;
}
.card-user-task{
  background:rgba(255,255,255,1);
  padding: 15px;
  border: outset  rgba(255,255,255,.8) 5px;
}

@media(max-width: 390px) {
}
