.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 12px 7px 5px #130b38;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}
