.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 216px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  top: 0;
  left: 0;
  background : #130b38 60%;
  overflow-x: hidden;
  padding-top: 200px;
}

/* The navigation menu links */
.sidenav a {
  padding: 5px 5px 20px 18px;
  margin-bottom: 25px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'raleway', sans-serif;
  color: white;
  display: block;
  transition: 0.2s all ease-in-out;
  background-color: transparent;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: black;
  background-color: white;
  border-radius:  0% 50%;
}
